[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.0.0"
click = "==6.7"
flask-sqlalchemy = "==2.3.2"
itsdangerous = "==0.24"
"psycopg2" = "==2.7.5"
python-dateutil = "==2.7.3"
python-editor = "==1.0.3"
six = "==1.11.0"
Flask = "==1.0.2"
Flask-Migrate = "==2.2.1"
Flask-Script = "==2.0.6"
"Jinja2" = "==2.10"
Mako = "==1.0.7"
MarkupSafe = "==1.0"
SQLAlchemy = "==1.2.11"
Werkzeug = "==0.14.1"
passlib = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
